<div class="container" [hidden]="!loggedIn">
  <div [hidden]="quizList">
    <div class="row">
      <div class="col-sm-12">
        <section>
          <header class="header">
            <div class="row">
              <div class="col-sm-10">
                <h1>Quizzes</h1>
              </div>

              <div class="col-sm-2">

                <a  routerLink="/add-quiz" class="btn btn-primary pull-right">
                  <i class="fa fa-plus"></i> Add New</a>
              </div>
            </div>

          </header>
        </section>

        <section class="main">

          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of quizzes | async">
                <th scope="row">{{ quiz.id }}</th>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.description }}</td>
                <td>
                  <div class="btn-group pull-right">
                    <a [routerLink]="['/quiz/'+quiz.id]"   class="btn btn-secondary sm">
                      <i class="fa fa-arrow-circle-o-right"></i> Details
                    </a>
                    <a [routerLink]="['/edit-quiz/'+ quiz.id]" class="btn btn-secondary">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <button type="button" class="btn btn-danger" (click)="onDeleteClick(quiz.id)">
                      <i class="fa 
                    Search Results
                    fa-trash-o"></i>
                    </button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>