<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-link" routerLink="/academic">
      <i class="fa fa-arrow-circle-o-left"> Back To Dashboard</i>
    </a>
  </div>
  <div class="col-sm-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Add Academic
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

      <div class="form-group">
        <label for="school_id">Select School</label>
       
        <select class="form-control" id="schoolid" ngModel= {{schools[0]?.id}} name = "school_id">
          <option *ngFor="let school of schools | async" value= {{school.id}}>{{school.schoolname}}</option>
        </select>

        <!-- <label for="school">* School</label>
        <select id="name" class="form-control" name="schoolname" [(ngModel)]="school" required="required">
          <option value="" disabled>-- school --</option> 
          <option *ngFor="let school of schools | async">{{school.schoolname}}</option>
        </select> -->
      </div>
      <div class="form-group">
        <label for="Year">Year</label>
        <input type="text" class="form-control" [(ngModel)]="academicyear.year" name="year" #year="ngModel"
          minlength="2" required>
        <div *ngIf="year.errors?.required && year.touched" class="alert alert-danger">
          Year is required
        </div>
        
      </div>
      
      <div class="form-group">
        <label for="Academic">Academic Name</label>
        <input type="text" class="form-control" [(ngModel)]="academicyear.academicname" name="academicname" #academicName="ngModel"
          minlength="2" required>
        <div *ngIf="academicName.errors?.required && academicName.touched" class="alert alert-danger">
          Academic Name is required
        </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>