<div class="container" [hidden]="!loggedIn">
<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-link" routerLink="/school"><i class="fa fa-arrow-circle-o-left"> Back To Dashboard</i></a>
  </div>
  <div class="col-sm-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Add School
  </div>
  <div class="card-block">
   <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <label for="schoolname">School Name</label>
      <input type="text" class="form-control" [(ngModel)]="school.schoolname" name="schoolname" #schoolName="ngModel" minlength="2" required>
      <div *ngIf="schoolName.errors?.required && schoolName.touched" class="alert alert-danger">
        School Name is required
      </div>
    </div>
  
      <input type="submit" value="Submit" class="btn btn-primary">
   </form>
  </div>
</div>
</div>

